<aside class="p-8 mt-16 overflow-y-auto" style="width: 280px">
  <nav class="space-y-10">
    {% include 'partials/sidebar/navigation_main.njk' %}
    {% include 'partials/sidebar/navigation_components.njk' %}
  </nav>
</aside>