<aside class="p-8 overflow-y-scroll" style="width: 280px">

  <div class="space-y-10">
    {% include 'partials/sidebar/logo.njk' %}
    {% include 'partials/sidebar/navigation_main.njk' %}
    {% include 'partials/sidebar/navigation_components.njk' %}
  </div>
</aside>