<aside class="w-64 p-8 overflow-y-scroll">
  
  <div class="space-y-10">
    {% include 'partials/sidebar/logo.njk' %}
    {% include 'partials/sidebar/navigation_main.njk' %}
    {% include 'partials/sidebar/navigation_components.njk' %}
  </div>
</aside>