{% set links = [
  {name: 'Overview', path: '/overview', icon: '/images/icon_overview' },
  {name: 'Getting started', path: '/getting-started', icon: '/images/icon_gettingstarted' }
] %}

<ul class="space-y-2">
  {% for link in links %}
    <li>
      {% if link.path ~ '/' === page.url %}
        <a href="{{ link.path }}" class="flex bg-indigo-100 p-2 rounded items-center text-indigo-600 font-semibold">
          <img src="{{ link.icon }}.svg" class="inline-block w-5 mr-2">
          {{ link.name }}
        </a>
      {% else %}
        <a href="{{ link.path }}" class="flex p-2 rounded items-center text-gray-600 font-semibold">
          <img src="{{ link.icon }}.svg" class="inline-block w-5 mr-2">
          {{ link.name }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>