<div class="space-y-2">
  <h2 class="uppercase text-gray-500 tracking-widest font-medium">Components</h2>
  <ul>
    <li><a href="#">Buttons</a></li>
    <li><a href="#">Tabs</a></li>
    <li><a href="#">Modals</a></li>
  </ul>
</div>