<div class="space-y-2">
  <h2 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">Components</h2>
  <ul>
    <li><a href="#">Buttons</a></li>
    <li><a href="#">Tabs</a></li>
    <li><a href="#">Modals</a></li>
  </ul>
</div>