{% set links = [
  {
    name: 'Buttons',
    path: '#buttons'
  }, {
    name: 'Icon Buttons',
    path: '#button-icon'
  }, {
    name: 'Grouped',
    path: '#button-grouped'
  }, {
    name: 'Checkbox Button',
    path: '#button-checkbox'
  }
] %}

<aside class="w-64 p-8 mt-16 overflow-y-auto">
  <h2 class="mb-3 lg:mb-2 text-gray-500 uppercase tracking-wide font-bold text-sm lg:text-xs">On this page</h2>
  <ul class="space-y-2">
    {% for link in links %}
      <li>
        {% if link.path ~ '/' === page.url %}
          <a href="{{ link.path }}" class="inline-block hover:text-indigo-700 transition duration-200 text-sm text-indigo-700 font-medium">
            {{ link.name }}
          </a>
        {% else %}
          <a href="{{ link.path }}" class="inline-block hover:text-indigo-700 transition duration-200 text-sm text-gray-600 font-medium">
            {{ link.name }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</aside>