<aside class="w-64 p-8 overflow-y-scroll">
  
  <div class="space-y-10">
    <span class="text-gray-400">v0.0.1</span>
    {% include 'partials/sidebar/navigation_main.njk' %}
    {% include 'partials/sidebar/navigation_components.njk' %}
  </div>
</aside>