<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="109" height="44" viewbox="0 0 109 44">
    <defs>
        <path id="checkbox--selected-b" d="M138,11 L168,11 C170.761424,11 173,13.2385763 173,16 L173,48 C173,50.7614237 170.761424,53 168,53 L138,53 C135.238576,53 133,50.7614237 133,48 L133,16 C133,13.2385763 135.238576,11 138,11 Z"/>
        <filter id="checkbox--selected-a" width="310%" height="300%" x="-100%" y="-71.4%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.222704911   0 0 0 0 0.198673072   0 0 0 0 0.617895154  0 0 0 0.75 0"/>
            <feoffset dx="1" dy="12" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.196567784   0 0 0 0 0.175392696   0 0 0 0 0.544780344  0 0 0 0.55 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="checkbox--selected-c" width="225%" height="219%" x="-57.5%" y="-31%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <path id="checkbox--selected-e" d="M188,11 L218,11 C220.761424,11 223,13.2385763 223,16 L223,48 C223,50.7614237 220.761424,53 218,53 L188,53 C185.238576,53 183,50.7614237 183,48 L183,16 C183,13.2385763 185.238576,11 188,11 Z"/>
        <filter id="checkbox--selected-d" width="310%" height="300%" x="-100%" y="-71.4%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.222704911   0 0 0 0 0.198673072   0 0 0 0 0.617895154  0 0 0 0.75 0"/>
            <feoffset dx="1" dy="12" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.196567784   0 0 0 0 0.175392696   0 0 0 0 0.544780344  0 0 0 0.55 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="checkbox--selected-f" width="225%" height="219%" x="-57.5%" y="-31%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <path id="checkbox--selected-h" d="M210.69284,21.9006411 C211.576176,20.8394711 213.15251,20.6953086 214.21368,21.5786451 C215.228712,22.4235758 215.404743,23.9025532 214.645076,24.95825 L214.535676,25.0994858 L200.924348,41.4510483 C200.016541,42.5416153 198.395582,42.6515986 197.34962,41.727054 L197.221963,41.6060939 L190.432901,34.7144923 C189.463935,33.7308916 189.475799,32.1480236 190.459399,31.1790577 C191.400235,30.2522208 192.88936,30.2227782 193.865065,31.0827722 L193.994834,31.2055564 L198.846,36.1305869 L210.69284,21.9006411 Z"/>
        <filter id="checkbox--selected-g" width="139.4%" height="146.8%" x="-19.7%" y="-18.7%" filterunits="objectBoundingBox">
            <feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="1.5"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.282387658   0 0 0 0 0.0672295137   0 0 0 0 0.526126585  0 0 0 0.11 0"/>
            <feoffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.147750826   0 0 0 0 0.0378872868   0 0 0 0 0.454059103  0 0 0 0.12 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <path id="checkbox--selected-j" d="M162.69284,21.9006411 C163.576176,20.8394711 165.15251,20.6953086 166.21368,21.5786451 C167.228712,22.4235758 167.404743,23.9025532 166.645076,24.95825 L166.535676,25.0994858 L152.924348,41.4510483 C152.016541,42.5416153 150.395582,42.6515986 149.34962,41.727054 L149.221963,41.6060939 L142.432901,34.7144923 C141.463935,33.7308916 141.475799,32.1480236 142.459399,31.1790577 C143.400235,30.2522208 144.88936,30.2227782 145.865065,31.0827722 L145.994834,31.2055564 L150.846,36.1305869 L162.69284,21.9006411 Z"/>
        <filter id="checkbox--selected-i" width="139.4%" height="146.8%" x="-19.7%" y="-18.7%" filterunits="objectBoundingBox">
            <feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="1.5"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.282387658   0 0 0 0 0.0672295137   0 0 0 0 0.526126585  0 0 0 0.11 0"/>
            <feoffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.147750826   0 0 0 0 0.0378872868   0 0 0 0 0.454059103  0 0 0 0.12 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
    </defs>
    <g fill="none" fill-rule="evenodd" transform="translate(-111 -6)">
        <use fill="#000" filter="url(#checkbox--selected-a)" xlink:href="#checkbox--selected-b"/>
        <use fill="#635FF6" xlink:href="#checkbox--selected-b"/>
        <use fill="#000" filter="url(#checkbox--selected-c)" xlink:href="#checkbox--selected-b"/>
        <use fill="#000" filter="url(#checkbox--selected-d)" xlink:href="#checkbox--selected-e"/>
        <use fill="#635FF6" xlink:href="#checkbox--selected-e"/>
        <use fill="#000" filter="url(#checkbox--selected-f)" xlink:href="#checkbox--selected-e"/>
        <use fill="#000" filter="url(#checkbox--selected-g)" xlink:href="#checkbox--selected-h"/>
        <use fill="#817EFF" xlink:href="#checkbox--selected-h"/>
        <use fill="#000" filter="url(#checkbox--selected-i)" xlink:href="#checkbox--selected-j"/>
        <use fill="#817EFF" xlink:href="#checkbox--selected-j"/>
    </g>
</svg>