<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="109" height="44" viewbox="0 0 109 44">
    <defs>
        <circle id="radio--selected-b" cx="153" cy="32" r="21"/>
        <filter id="radio--selected-a" width="300%" height="300%" x="-95.2%" y="-71.4%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.222704911   0 0 0 0 0.198673072   0 0 0 0 0.617895154  0 0 0 0.75 0"/>
            <feoffset dx="1" dy="12" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.196567784   0 0 0 0 0.175392696   0 0 0 0 0.544780344  0 0 0 0.55 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="radio--selected-c" width="219%" height="219%" x="-54.8%" y="-31%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <path id="radio--selected-e" d="M204,53 C209.990734,53 217.395572,56.4914862 221.221421,52.4675537 C224.802364,48.701207 225,37.6072462 225,32 C225,20.4020203 215.59798,11 204,11 C192.40202,11 183,20.4020203 183,32 C183,43.5979797 192.40202,53 204,53 Z"/>
        <filter id="radio--selected-d" width="300%" height="293.5%" x="-95.2%" y="-69.1%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.222704911   0 0 0 0 0.198673072   0 0 0 0 0.617895154  0 0 0 0.75 0"/>
            <feoffset dx="1" dy="12" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.196567784   0 0 0 0 0.175392696   0 0 0 0 0.544780344  0 0 0 0.55 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="radio--selected-f" width="219%" height="215.2%" x="-54.8%" y="-30%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <ellipse id="radio--selected-h" cx="153" cy="32" rx="13.65" ry="14"/>
        <filter id="radio--selected-g" width="136.6%" height="135.7%" x="-18.3%" y="-14.3%" filterunits="objectBoundingBox">
            <feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="1.5"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0.282387658   0 0 0 0 0.0672295137   0 0 0 0 0.526126585  0 0 0 0.11 0"/>
            <feoffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="1"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0.147750826   0 0 0 0 0.0378872868   0 0 0 0 0.454059103  0 0 0 0.12 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
    </defs>
    <g fill="none" fill-rule="evenodd" transform="translate(-111 -6)">
        <use fill="#000" filter="url(#radio--selected-a)" xlink:href="#radio--selected-b"/>
        <use fill="#635FF6" xlink:href="#radio--selected-b"/>
        <use fill="#000" filter="url(#radio--selected-c)" xlink:href="#radio--selected-b"/>
        <use fill="#000" filter="url(#radio--selected-d)" xlink:href="#radio--selected-e"/>
        <use fill="#635FF6" xlink:href="#radio--selected-e"/>
        <use fill="#000" filter="url(#radio--selected-f)" xlink:href="#radio--selected-e"/>
        <use fill="#000" filter="url(#radio--selected-g)" xlink:href="#radio--selected-h"/>
        <use fill="#817EFF" xlink:href="#radio--selected-h"/>
    </g>
</svg>