<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="109" height="44" viewbox="0 0 109 44">
    <defs>
        <circle id="radio-b" cx="153" cy="32" r="21"/>
        <filter id="radio-a" width="300%" height="300%" x="-95.2%" y="-71.4%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.13 0"/>
            <feoffset dy="2" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="radio-c" width="219%" height="219%" x="-54.8%" y="-31%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <path id="radio-e" d="M204,53 C209.721493,53 224.908571,60.711899 228.696109,57.0008221 C232.586251,53.1892128 225,37.876487 225,32 C225,20.4020203 215.59798,11 204,11 C192.40202,11 183,20.4020203 183,32 C183,43.5979797 192.40202,53 204,53 Z"/>
        <filter id="radio-d" width="279.5%" height="278.7%" x="-85.5%" y="-63.8%" filterunits="objectBoundingBox">
            <feoffset dx="2" dy="12" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="12"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.13 0"/>
            <feoffset dy="2" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="radio-f" width="206.8%" height="206.4%" x="-49.1%" y="-27.7%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
        <ellipse id="radio-h" cx="153" cy="32" rx="13.65" ry="14"/>
        <filter id="radio-g" width="151.3%" height="146.4%" x="-23.8%" y="-19.6%" filterunits="objectBoundingBox">
            <feoffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter1"/>
            <fegaussianblur in="shadowOffsetOuter1" result="shadowBlurOuter1" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.02 0"/>
            <feoffset dy="1" in="SourceAlpha" result="shadowOffsetOuter2"/>
            <fegaussianblur in="shadowOffsetOuter2" result="shadowBlurOuter2" stddeviation="2"/>
            <fecolormatrix in="shadowBlurOuter2" result="shadowMatrixOuter2" values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.15 0"/>
            <femerge>
                <femergenode in="shadowMatrixOuter1"/>
                <femergenode in="shadowMatrixOuter2"/>
            </femerge>
        </filter>
        <filter id="radio-i" width="140.3%" height="135.7%" x="-18.3%" y="-14.3%" filterunits="objectBoundingBox">
            <feoffset dx="-2" dy="1" in="SourceAlpha" result="shadowOffsetInner1"/>
            <fecomposite in="shadowOffsetInner1" in2="SourceAlpha" k2="-1" k3="1" operator="arithmetic" result="shadowInnerInner1"/>
            <fecolormatrix in="shadowInnerInner1" values="0 0 0 0 1   0 0 0 0 1   0 0 0 0 1  0 0 0 0.08 0"/>
        </filter>
    </defs>
    <g fill="none" fill-rule="evenodd" transform="translate(-111 -6)">
        <use fill="#000" filter="url(#radio-a)" xlink:href="#radio-b"/>
        <use fill="#F3F3F3" xlink:href="#radio-b"/>
        <use fill="#000" filter="url(#radio-c)" xlink:href="#radio-b"/>
        <use fill="#000" filter="url(#radio-d)" xlink:href="#radio-e"/>
        <use fill="#F3F3F3" xlink:href="#radio-e"/>
        <use fill="#000" filter="url(#radio-f)" xlink:href="#radio-e"/>
        <use fill="#000" filter="url(#radio-g)" xlink:href="#radio-h"/>
        <use fill="#F3F3F3" xlink:href="#radio-h"/>
        <use fill="#000" filter="url(#radio-i)" xlink:href="#radio-h"/>
    </g>
</svg>