<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="flex h-screen">
      {% include "partials/header/header.njk" %}
      {% include "partials/sidebar/index.njk" %}
      <main class="relative mt-16 px-8 pt-6 pb-32 overflow-y-auto flex-1">
        <h1 class="text-3xl mt-0 font-bold text-black">
          {{ title }}
        </h1>
        <p class="text-gray-600 ">
          {{ intro }}
        </p>
        <div class="mt-12 space-y-6">
          {{ content | safe }}
        </div>
      </main>
      {% include "partials/sidebar/sidebar_subcomponents.njk" %}
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer="defer"></script>
    </body>
  </html>