<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}
      - Matter UI System
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="mask-icon" href="/images/favicon.svg" color="purple">
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
  </head>
  <body>
    <div class="flex h-screen">
      {% include "partials/header/header.njk" %}
      {% include "partials/sidebar/index.njk" %}
      <main class="flex flex-1 flex-row relative mt-16 pt-6 overflow-y-auto pr-8">
        <div class="flex flex-col flex-1 w-full xl:pr-4">
          <h1 class="text-3xl mt-0 font-bold text-black">
            {{ title }}
          </h1>
          <p class="text-gray-600 ">
            {{ intro }}
          </p>
          <div class="mt-12 pb-32 space-y-6">
            {{ content | safe }}
          </div>
        </div>
        {% include "partials/sidebar/sidebar_subcomponents.njk" %}
      </main>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer="defer"></script>
    </body>
  </html>