<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="flex h-screen">
      {% include "partials/sidebar/index.njk" %}
      <main class="relative p-8 overflow-y-scroll flex-1">
        <input type="text" placeholder="Search or jump to..." class="border-2 border-gray-200 rounded h-10 w-full px-4 focus:outline-none focus:border-gray-400 placeholder-gray-400 transition duration-200">
        <div class="mt-6">
          <h1 class="text-3xl font-bold text-black">
            {{ title }}
          </h1>
          <p class="text-gray-600 ">
            {{ intro }}
          </p>
          <div class="mt-12 space-y-6">
            {{ content | safe }}
          </div>
        </main>
        {% include "partials/sidebar/sidebar_2.njk" %}
      </div>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer="defer"></script>
    </body>
  </html>