---
title: Buttons
intro: "A button triggers an event or action. They let users know what will happen
next."
tag: component
---

<div
  class="flex justify-center items-center p-12 h-64 w-full bg-white border border-gray-200 shadow shadow-md rounded-lg"
>
  Button
</div>

<div
  class="flex justify-center items-center p-12 h-64 w-full bg-white border border-gray-200 shadow shadow-md rounded-lg"
>
  Icon Buttons
</div>

<div
  class="flex justify-center items-center p-12 h-64 w-full bg-white border border-gray-200 shadow shadow-md rounded-lg"
>
  Grouped Buttons
</div>
