<div class="flex bg-white border-b border-gray-200 fixed top-0 inset-x-0 z-200 h-16 items-center">
  <div class="px-8" style="width: 280px;">
    <div class="flex items-center">
      {% include 'partials/sidebar/logo.njk' %}
    </div>
  </div>

  <div x-data="{isSearchFocused: false}" class="flex flex-1">
    <div class="flex flex-row items-center border border-gray-400 rounded h-10 w-full text-gray-600 0 transition duration-200" :class="{'border-indigo-400 text-indigo-400': isSearchFocused}">
      <span class="px-4 flex h-full items-center justify-center">
        <svg height="15" viewbox="0 0 16 15" width="16" xmlns="http://www.w3.org/2000/svg" class="stroke-current">
          <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="5.5" cy="5.5" r="5"/>
            <path d="m14.571 14.5-5.571-5.5"/>
          </g>
        </svg>
      </span>

      <input x-ref="searchInput" @focus="isSearchFocused = true" x-on:keydown.window.slash="$refs.searchInput.focus()" @click.away="isSearchFocused = false" x-on:keydown.escape="$refs.searchInput.blur(), isSearchFocused = false" type="text" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Search or jump to..." value="" title="Search or jump to..." class="flex flex-1 w-full h-8 focus:outline-none placeholder-gray-600 text-black text-sm"/>

      <span class="mr-2 flex h-6 px-2 items-center justify-center border border-gray-300 bg-gray-100 rounded text-gray-600 text-sm">
        /</span >

      {# Need to make dynamic or change on Windows PC #}
    </div>
  </div>

  <div class="flex items-center w-64 px-8">
    {% include 'partials/icons/icon_github.njk' %}
    <a class="flex flex-row items-center ml-4 py-1 px-2 bg-indigo-600 hover:bg-indigo-700 rounded text-white text-sm font-medium cursor-pointer" href="/">
      <svg width="10px" height="10px" class="mr-2" viewbox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>Fill 2</title>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="System-UIcons" transform="translate(-14.000000, -549.000000)" fill="currentcolor">
            <g id="Heart" transform="translate(14.000000, 549.000000)">
              <path d="M16.0001607,4.5 C16.0001607,1.5 13.7339354,0.5 12.0001607,0.5 C10.8317471,0.5 9.50582422,1.16666667 8.02239203,2.5 C6.50931813,1.19729436 5.16857436,0.545941546 4.00016074,0.545941546 C2.26638542,0.545941546 -0.0220705576,1.5 0.000160737123,4.5 C0.0149816003,6.5 2.68164827,10.1667894 8.00016074,15.5003682 C13.3334941,10.1667894 16.0001607,6.5 16.0001607,4.5 Z" id="Fill-2"></path>
            </g>
          </g>
        </g>
      </svg>
      Sponsor
    </a>
  </div>
</div>