<svg class="stroke-current {{ 'text-indigo-500' if isActive else 'text-gray-500' }}" fill="none" height="18" viewBox="0 0 20 18" width="20" xmlns="http://www.w3.org/2000/svg">
  <g style="fill-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5" transform="translate(1 1)">
    <path d="m0 3.2v12.8l5.6-3.2 6.4 3.2 5.6-3.2v-12.8l-5.6 3.2-6.4-3.2z"/>
    <path d="m5.6 0v12.8"/>
    <path d="m12 3.2v12.8"/>
  </g>
</svg>